BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: false
MaxEmptyLinesToKeep: 6
KeepEmptyLines:
  AtEndOfFile: true     
  AtStartOfBlock: true  
  AtStartOfFile: true   
